.desktop {
  background: linear-gradient(rgb(104, 104, 104), #000);
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  &-taskbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    &-container {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &-icons {
        align-self: center;
        width: 40px !important;
        font-size: 2.4rem !important;
        cursor: pointer;
        margin-left: 1.5rem;
        border-bottom: thin solid #fff;
        &:hover {
          background-color: rgb(128, 128, 128);
          color: #fff;
          border-bottom: thin solid #000;
        }
        &-active {
          background-color: rgb(128, 128, 128);
          color: #fff;
          border-bottom: thin solid #000;
        }
      }
    }
    &-date {
      display: flex;
      flex-direction: row;
      border-left: grey solid thin;
      padding-left: 1rem;
      margin: 0 1em;
      &-hour {
        align-self: center;
      }
    }
    &-user{
      display: flex;
      flex-direction: row;
      height: 100%;
      align-self: center;
      &-icon {
        border-right: grey solid thin;
        height: 100%;
        font-size: 2em !important;
        &:hover {
          cursor: pointer;
          border-radius: 10px;
          background-color: rgba(000,000,000, 0.2);
        }
      }
    }
  }
}