.applications {
  position: fixed;
  left: 30%;
  top: 15%;
  width: 60rem;
  height: 43rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(117, 116, 116));
  animation-name: heightUpDown;
  animation-duration: 0.1s;
  &-hidden {
    display: none;
  }
  &-active {
    z-index: 1;
  }
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
  }
  &-single {
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
    &:hover {
      background-color: rgb(180, 179, 179);
    }
  }
}