.applications {
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 15%;
  min-width: 40rem;
  height: 43rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(117, 116, 116));
  animation-name: heightUpDown;
  animation-duration: 0.1s;
  &-hidden {
    display: none;
  }
}